<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- set character encoding for the document -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Spotify Searcher</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="handheldFriendly" content="true">

  <meta name="application-name" content="Application Name">

</head>

<body>
  <div id="root"></div>
</body>

</html>